@page {
  size: A4;
  margin: 25mm 25mm 25mm 25mm;
}

@page :portada {
    margin: 0;
}

@media print {
    a {
        color: black !important;
        text-decoration: none;
    }
}

div.portada-content {
    page: portada;
}

body {
    font-family: Roboto;
    counter-reset: comptador;
    line-height: 1.6;
    margin-top:0 !important;
}

h1 {
    font-size: 2.1em;
    text-align: center;
    page-break-after: avoid;
}

h2 {
    font-size: 2.3em;
    text-align: center;
    page-break-after: avoid;
}

h3 {
    font-size: 2em;
    page-break-before: always;
    text-align: center;
    page-break-after: avoid;
}

h4 {
    font-size: 1.7em;
    text-align: center;
    page-break-after: avoid;
}

ol + h5 {
    font-size: 1.6em;
    text-align: center;
    margin-top: 2cm
}

h5 {
    page-break-after: avoid;;
}

.nobreak {
    page-break-inside: avoid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.social {
    text-align: center;
}

ol {
    list-style-type: none;
}
ol li:before
{
    counter-increment: comptador;
    content: counter(comptador) ".\00A0\00A0";

    font-family: Krub, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #c63131;

    margin-bottom: 5cm
}

#entitats img {
    width: 100pt
}
#entitats img + em {
    padding: 5px;
    display: block;
    text-align: center;
}
